// Brand Colors
$mainClr: #222222;
$secClr: #505050;

// Global Colors
$bodyBgClr: #ffffff;
$bodyClr: #505050;
$linkClr: #222222;
$linkClrHr: #7c7c7c;
$headingClr: #222222;
$borderClr: rgba(0, 0, 0, 0.07);

// Typography 
$mainFnt: 'Montserrat', sans-serif;
$serifFnt: 'PT Serif', sans-serif;
$bodyFnt: $mainFnt;
$headingFnt: $mainFnt;